<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grip Strength Data</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/static/style.css'/>
</head>
<body>
    <nav class="container">
            <ul class="navbar-nav">
                <a class="nav-link" href="/">Grip Strength Finder</a>
            </ul>
    </nav>
    <h2 class="container">Grip Strength Data</h2>
    <main>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Name</th>
                    <th>Grip Strength in KGs</th>
                </tr>
            </thead>
            <tbody id="grip_tbody">
                {% for item in data %}
                  <tr>
                      <td>{{item[0]}}</td>
                      <td>{{item[1]}}</td>
                      <td>{{item[2]}}</td>
                      <td>{{item[3]}}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
