<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

	<link rel="stylesheet" href='/static/style.css'/>
    </head>
   
     <body>
        <h1 style="text-align:center">Zach and Charlie’s Super Awesome and Cool Computer Organization Group</h1>
        <h2 style="text-align:center">Final Project - Grip Strength Tester</h2>
     </body>

     <body>
	<p style="text-align:center">This project is a grip strength tester using a strain gauge and a Raspberry Pi. It uses an HX711 analog to digital signal converter to convert the strain gauge signal to digital signal which the pi can recognize.</p>
     </body>

     <body>
	<div class="container">
	    <button id="button2" onclick="setKg()">Use Kilograms</button>
	    <button id="button2" onclick="setLb()">Use Pounds</button>
	</div>

	<div>
	    <progress id="myProgress" value="0" max="100"></progress>
	</div>

	<div style="display: flex; align-items: center;">
    		<div style="flex-grow: 1;">
        		<p class="progress-numbers">0 kgs/lbs</p>
    		</div>
    		<div style="flex-grow: 1; text-align: right;">
        		<p class="progress-numbers.right">120 kgs/ 265 lbs</p>
   		 </div>
	</div>
	
	<div class="container" >
	    <button id="button1"  onclick="updateProgress()">Press me</button>
	</div>

	<div id="solidText" style="text-align: center">Your Grip Strength Is: </div>
	<div class="output"  style="text-align: center; margin-top:25px" id="output1"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     </body> 

     <script>
	var pkg = 0;

	function setKg() {
	    pkg = 1;
	}

	function setLb() {
	    pkg = 0;
	}    

	function updateProgress() {
            $.ajax({
               url: '/update_progress',
	       type: 'GET',
	       success: function(data) {
		   var progress = data.progress;
		   var prog = document.getElementById("myProgress");
		   var out1 = document.getElementById("output1");
		   prog.value = progress;
	
		   if (pkg == 1) {
			progress = Math.round(progress * 100) / 100;
		   	out1.innerHTML = progress + " kgs";
		   }
		   if else (pkg == 0) {
			progress = progress * 2.2046;
			progress = Math.round(progress * 100) / 100;
		   	out1.innerHTML = progress + " lbs";
		   }
	       },
	       error: function(){
		   console.log('Error occured');
	       }
	     });
	}
     </script>
</html>
	
